@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-bottom: 10px;
}

label, textarea {
  display: block; /* This makes the element take up the full width */
  margin-bottom: 5px; /* Adds some space below each element */
}

textarea {
  width: 100%; /* Sets the width of the textarea to fill its container */
  resize: none; /* Prevents resizing of the textarea */
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}